<!DOCTYPE html>
<html lang="en" ng-app="formApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form-App</title>
</head>

<body>
  <h1>Sign up</h1>
  <form name="addUserForm" ng-controller="AddUserController">
    <div ng-show="message">{{message}}</div>
    <div>First name: <input type="text" ng-model="user.first" required></div>
    <div>Last name: <input type="text" ng-model="user.last" required></div>
    <div>Email: <input type="email" ng-model="user.email" required></div>
    <div>Age: <input type="number" ng-model="user.age" ng-minlength="1" ng-maxlength="3" required></div>
    <div><button ng-click="addUser()" ng-disabled="!addUserForm.$valid">Submit</button></div>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script>
    const myAppModule = angular.module('formApp', []);
    myAppModule.controller('AddUserController', function($scope) {
      $scope.message = "";
      $scope.addUser = function() {
        $scope.message = `Thanks, ${$scope.user.first}, for signing up.`;
      };
    });
  </script>
</body>

</html>
