<!DOCTYPE html>
<html lang="en" ng-app="listApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repeated elements</title>
</head>

<body ng-controller="ListController">
  <table>
    <tr ng-repeat="student in students">
      <td>{{$index + 1}}. </td>
      <td><a href="/student/view/{{student.id}}">{{student.name}}</a></td>
    </tr>
  </table>
  <button ng-click="addTom()">Add Tom</button>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script>
    const myAppModule = angular.module('listApp', []);
    myAppModule.controller('ListController', function ListController($scope) {
      const students = [
        { name: 'Mary Contrary', id: '1' },
        { name: 'Jack Sprat', id: '2' },
        { name: 'Jill Hill', id: '3' }
      ]

      $scope.students = students;

      $scope.addTom = function() {
        $scope.students.splice(1, 0, { name: 'Tom Thumb', id: '4' });
      }
    });
  </script>
</body>

</html>
